<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpFunctionalExtensions" version="1.17.0" targetFramework="net452" />
  <package id="EO.WebBrowser" version="19.0.69" targetFramework="net452" />
  <package id="LiteDB" version="4.1.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="YouTube.Api" version="1.0.7" targetFramework="net452" />
</packages>